<!--
=begin
This way to comment out a block of code in ruby only works in the beginning of code.
=end
-->
<!--
#you can also comment out like this. however in here it uses HTML syntax.
#<h1>Welcome#index</h1>
#<p>Find me in app/views/welcome/index.html.erb</p>
-->
<h1>Hello, Rails</h1>